@import url("https://fonts.googleapis.com/css?family=Roboto:900");

body {
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
}

.wrap {
  width: 30%;
  max-width: 1100px;
  margin: auto;
}

 input {
   background-color: #3CB18A;
   padding: 13px 32px;
   margin-bottom: 3%;
   width: 150px;
}

.display {
  margin-bottom: 20px;
}

.top-bar {
  background-color: #FFFFFF;
  margin-top: 5%;
}

.title {
  font-size: 2em;
  font-family: "Roboto";
}

.text-thin {
  font-weight: 100;
}

.text-bold {
  font-weight: 600;
}

.text-2x {
  font-size: 3rem;
}
